*.class
*.log
*.pyc
*.swp
**/key.properties
**/key.jks
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.iml
*.ipr
*.iws
.idea/
.vscode/
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
google-services.json
firebase_app_id_file.json
firebase_options.dart
app.*.symbols
app.*.map.json
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/app/build/
android/build/
android/local.properties
*.apk
*.aab
*.lock
*.tmp
*.keystore
*.json
*.zip
android/app/build/outputs/
app-release.apk
build/app/outputs/
